.txt_center {
  text-align: center;
}

.container_wrapper {
  max-width: 600px;
  margin: auto;
}

.margin_top_70 {
  margin-top: 70px;
}

.clear_box::after {
  content: "";
  display: table;
  clear: both;
}

.pos_relative {
  position: relative;
}


/* HEADER */
/* TOP */

#header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 70px;
  line-height: 70px;
  color: blue;
}

#header_top .list-inline li a {
  font-size: 16px;
  text-decoration: none;
  padding-left: 15px;
}

#header_top button {
  line-height: normal;
  position: absolute;
  right: 0;
  top: 20px;
}

/* RESPONSIVE */
